__pycache__/
*.py[cod]
*.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv/
ENV/
env.bak/
venv/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
instance/
.webassets-cache
.ipynb_checkpoints/
*.nbconvert.ipynb
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.env.*
.DS_Store
*.bak
*.swp
*.tmp
*.pkl
*.h5
*.db
.cache/

