# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# SQLite database
*.db
*.sqlite3

# VS Code settings
.vscode/

# Environment variables
.env
.env.*

# Pytest cache
.pytest_cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg files
*.egg
*.egg-info/
dist/
build/
.eggs/